@import "variablesOverride";
@import "../libs/bootstrap/scss/bootstrap";

.btn-secondary{
    color: white;
}

.header{
    max-height: 4.5rem;
    &__title{
        color: $primary;
    }

    &__icon{
        font-size: 1.5625rem;
        text-decoration: none;
        margin-right: 1.25rem;
        color: $primary;
        transition: color 0.2s;

        &:hover{
            color: #59C1BD;
        }
    }

    &__logo{
        margin-left: 1.25rem;
    }
}

p{
    margin-bottom: 0;
}

.main-container{
    min-height: calc(100vh - (127.5px));
    overflow: hidden;
    @media (min-width: 1000px){
        justify-content: center;
    }
}

.footer{
    color: $white-color;
    background-color: $primary;
    height: 3.475rem;
    
    &__icon{
        text-decoration: none;
        font-size: 1.5625rem;
        color: #59C1BD;
        transition: color 0.2s;

        @media (max-width: 769px){
            font-size: 1.2rem;
        }

        &:hover{
            color: $fourth-color;
        }
    }

    &__text{
        font-weight: 500;

        @media (max-width: 769px){
            font-size: .8125rem;
        }
    }

    &__social-content{
        width: 8.125rem;

        @media (max-width: 769px){
            width: 7rem;
        }
    }
}

.form{
    margin: 1.5625rem;
    min-width: 21.875rem;
    max-width: 37.5rem;

    @media (max-width: 769px){
        font-size: 12.8px;
    }
    &__title{
        color: $primary;
    }
}

.container{
    @media (min-width: 576px){
        max-width: none;
    }
}

.appointments{
    height: 36.75rem;
    width: 90%;
    min-width: 21.875rem;
    max-width: 37.5rem;

    @media (max-width: 1200px){
        margin-top: 15px;
        margin-bottom: 15px;
    }

    &__header{
        text-align: center;
        border-bottom: 1px solid $third-color;

        th{
            padding: .3125rem;
            padding-left: 15px;
            padding-right: 15px;
            @include media-breakpoint-down(sm){
                font-size: 12px;
                padding-left: 12px;
                padding-right: 13px;
            }

            &:first-child{
                padding-left: 10px;
            }

            &:last-child{
                padding-right: 10px;
            }
        }
    }

    &__row{
        text-align: center;
    }

    td{
        padding: 0px .3125rem;
        @include media-breakpoint-down(sm){
            font-size: 11px;
        }
    }

    td:nth-child(odd){
        background-color:$fourth-color;
    }

    td:nth-child(even){
        background-color: $third-color;
    }

    td:last-child{
        @include media-breakpoint-down(lg) {
            background-color:$fourth-color;
        }
    }

    &__button{
        margin-bottom: 1rem;
        width: 94.667%;
    }

    &__table{
        width: 100%;
    }
}

.appointment__option{
    font-size: 18px;
    padding: 5px;
    @include media-breakpoint-down(sm){
        font-size: 14px;
    }

    &:hover{
        cursor: pointer;
        
    }
}

.test-touch{
    @include media-breakpoint-down(lg) {
        display: none;
    }
}

.test-desk{
    @include media-breakpoint-up(lg) { 
        display: none !important;
     }
}
