/*
    Set colors palette and override variables
*/
$main-color: #0D4C92;
$secondary-color: #59C1BD;
$third-color: #A0E4CB;
$fourth-color: #CFF5E7;
$white-color: #ffffff;

$primary: $main-color;
$secondary: $secondary-color;